*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Blacklist-container {
    // min-height: 100vh;
    background-color: #E9ECEF;
    padding: 10px;
    background-size: cover;
}
.Blacklist-tab-name{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.Blacklist-content-tab-name{
    font-size: 30px;
    font-weight: 550;
}
.Blacklist-button-back{
    color: white;
    background-color: blue;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.Blacklist-search-container-blacklist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.Blacklist-form-blacklist{
    width: 40%;
}
.Blacklist-form-search-blacklist{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding: 0px 15px;
    font-weight: bold;
    color: grey;
    
}
.Blacklist-select-date, .Blacklist-select-position{
    width: 28%;
    border-radius: 10px;
    height: 40px;
    font-size: 16px;
    padding: 0px 15px;
    font-weight: bold;
    color: grey;
}


.Blacklist-candidate-list{
    margin-top: 20px;
    padding: 10px 20px;
    border-top: none;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.Blacklist-pagination{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Blacklist-button-prev, .Blacklist-button-next{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 0 20px;
    width: 50px;
    cursor: pointer;
}
.Blacklist-title{
    display: flex;
    width: 100%;
    color: gray;
}
.Blacklist-table-user{
    width: 100%;
    display: flex;
    padding: 10px 0px;
}
.Blacklist-name-candidate{
    width: 30%;
}
.Blacklist-permission-candidate, .Blacklist-date-register-candidate, .Blacklist-position, .Blacklist-status{
    width: 15%;
}
.Blacklist-details-candidate{
    width: 10%;
    text-align: center;
}


.Blacklist-name-content-candidate{
    width: 30%;
    display: flex;
}
.Blacklist-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .Blacklist-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.Blacklist-name-email{
    display: flex;
    flex-direction: column;
}
.Blacklist-name-detail{
    font-weight: bold;
    font-size: 18px;
}
.Blacklist-email-detail{
    color: grey;
}
 .Blacklist-permission-content-candidate, .Blacklist-date-register-content-candidate, .Blacklist-position-content, .Blacklist-status-content{
    width: 15%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.Blacklist-details-content-candidate{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.Blacklist-frame-status{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Blacklist-accept{
    background-color: #E8FFF3;
    color: #50CD89;
}
.Blacklist-process{
    background-color: #FFF8DD;
    color: #F1BC00;
}
.Blacklist-blacklist{
    background-color: #FFF5F8;
    color: #F1416C;
}
.Blacklist-button-view{
    border: none;
    border-radius: 5px;
    background-color: #F5F8FA;
    color: #A1A5B7;
    padding: 7px;
    cursor: pointer;
}