*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Manage-candidate-container {
    // min-height: 100vh;
    background-color: #E9ECEF;
    padding: 10px;
    background-size: cover;
}
.Manage-candidate-tab-name{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.Manage-candidate-content-tab-name{
    font-size: 30px;
    font-weight: 550;
}
.Manage-candidate-button-back{
    color: white;
    background-color: blue;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
.Manage-candidate-search-container{
    width: 100%;
}
.Manage-candidate-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Manage-candidate-form-search{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 0px 15px;
}
.Manage-candidate-candidate-list{
    margin-top: 20px;
    padding: 10px 20px;
    border-top: none;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.Manage-candidate-pagination{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Manage-candidate-button-prev, .Manage-candidate-button-next{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 0 20px;
    width: 50px;
    cursor: pointer;
}
.Manage-candidate-frame-status{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Manage-candidate-button-edit-candidate{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #F1416C;
    padding: 7px 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.Manage-candidate-button-accept{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #50CD89;
    padding: 7px 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.Manage-candidate-title{
    display: flex;
    width: 100%;
    color: gray;
}
.Manage-candidate-table-user{
    width: 100%;
    display: flex;
    padding: 10px 0px;
}
.Manage-candidate-name-candidate{
    width: 30%;
}
.Manage-candidate-score-candidate, .Manage-candidate-date-register-candidate, .Manage-candidate-position, .Manage-candidate-status{
    width: 15%;
}
.Manage-candidate-score-candidate, .Manage-candidate-score-content-candidate, .Manage-candidate-position, .Manage-candidate-position-content{
    display: flex;
    justify-content: center;
}
.Manage-candidate-details-candidate{
    width: 10%;
    text-align: center;
}


.Manage-candidate-name-content-candidate{
    width: 30%;
    display: flex;
}
.Manage-candidate-name-email{
    display: flex;
    flex-direction: column;
}
.Manage-candidate-name-detail{
    font-weight: bold;
    font-size: 18px;
}
.Manage-candidate-email-detail{
    color: grey;
}
 .Manage-candidate-score-content-candidate, .Manage-candidate-date-register-content-candidate, .Manage-candidate-position-content, .Manage-candidate-status-content{
    width: 15%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.Manage-candidate-details-content-candidate{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.Manage-candidate-color-button-add{
    text-decoration: none;
    color: white;
}
.Manage-candidate-accept{
    background-color: #E8FFF3;
    color: #50CD89;
}
.Manage-candidate-process{
    background-color: #FFF8DD;
    color: #F1BC00;
}
.Manage-candidate-blacklist{
    background-color: #FFF5F8;
    color: #F1416C;
}
.Manage-candidate-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .Manage-candidate-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.disable-accept{
    background-color: grey;
    cursor: default;
}
.Manage-candidate-header-position{
    font-size: 18px;
    font-weight: bold;
}