
    .body{
        color: black;
    }
    .carousel-control-prev-icon {
        color: black;
    }
    .carouimage-container {
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
      }
      
