// Footer.scss

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 1rem 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .border-bottom {
    border-bottom: 1px solid #dee2e6;
  }
  
  .title {
    color: #000;
    font-weight: bold;
  }
  
  .list-unstyled {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-bottom {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
    padding: 1rem 0;
    font-weight: bold;
  }
  
  a {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #000;
  }
  