@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
    h5 {
        @apply text-lg ;
      }
      h6 {
        @apply text-sm;
      }
  }