
/* Snow Theme */
#root .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#root .ql-editor {
    min-height: 18em;
}